body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tousProfils{
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-right: 30px;
    margin-left:30px;
}


.profil{
    color:rgb(65, 65, 65);
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -3px 10px #555;
    border-radius: 33px;
    width: 200px;
    margin-bottom:30px;

}

h2, h3, h4{
    text-align: center;
}

h2{
    margin:50px;
}


.imagestyle{
    border-radius: 33px;
    width: 60%;
    height: auto;
    margin-top:30px;
}